<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h4>Tile</h4>
    </div>
    <div class="col-sm-4">
      <tile [config]='tileConfig'></tile>
    </div>
  </div>
  <p class="divider mt-2"></p>
  <div class="row">
    <div class="col-sm-12">
      <h4>Tile with status: success</h4>
    </div>
    <div class="col-sm-4">
      <tile [config]='tileConfigWithStatus'></tile>
    </div>
  </div>
  <p class="divider mt-2"></p>
  <div class="row">
    <div class="col-sm-12">
      <h4>Tile with status: pending</h4>
    </div>
    <div class="col-sm-4">
      <tile [config]='tileConfigWithStatusPending'></tile>
    </div>
  </div>
  <p class="divider mt-2"></p>
  <div class="row">
    <div class="col-sm-12">
      <h4>Tile with badge</h4>
    </div>
    <div class="col-sm-4">
      <tile [config]='tileConfigWithBadge'></tile>
    </div>
  </div>
  <p class="divider mt-2"></p>
</div>