<div class="stepper">
    <div class="stepper-steps">
        <step *ngFor="let step of steps; let i = index"
            [config]="step"
            (stepClick)="onStepClicked($event)">
        </step>
    </div>
    <div class="stepper-steps-description mt-2">
        <span class="step-description"
            placement="bottom"
            triggers="click"
            container="body"
            [ngClass]="step.descriptionCssClass"
            containerClass="stepper-step-tooltip"
            [tooltip]="tooltipTemplate"
            *ngFor="let step of steps; let i = index">
            {{step.name}}
            <i *ngIf="step.statusIconClass"
                class="status-description-icon fa"
                [ngClass]="step.statusIconClass">
            </i>
            <ng-template #tooltipTemplate>
                <div>
                    <div *ngFor="let task of step.tooltipItems;let i = index">
                        {{task}}
                    </div>
                </div>
            </ng-template>
        </span>
    </div>
    
</div>