<div class="row ddo-application-request-header__page-heading mt-3">
  <h5 class="col-md-10 pt-4 pb-3 heading">
    {{application$.title}}
  </h5>
  <div class="col-md-2 pt-3 pb-3 text-align-center">
    <a class="btn btn-link btn-link--primary" (click)="cancelApplication()">Cancel Application</a>
  </div>
</div>
<div class="row ddo-application-request-header__form" *ngIf='showCancellationForm'>
  <div class="col-sm-12 pt-3">
    <div class="row">
      <div class="col-sm-10">
        <h6 class="cancel-heading">
          Cancel Application
        </h6>
      </div>
      <div class="col-sm-2">
        <i class="fa fa-times cancel--icon float-right" (click)='hideCancelAppicationForm()'></i>
      </div>
    </div>
  </div>
  <div class="col-sm-12 pb-3">
    <form class="ddo-applications__filter" [formGroup]="form">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>
    </form>
  </div>
  <div class="col-sm-12 pb-3">
    <div class="float-right">
      <a class="btn btn-link btn--small" (click)='hideCancelAppicationForm()'>Don't cancel</a>
      <button class="btn btn-primary btn--small" [disabled]="!form.valid" (click)='cancelApplicationRequest()'>Cancel
        application</button>
    </div>
  </div>
</div>