<div class="container-fluid">
    <div class="row">     
        <div class="col-md-3 col-xs-3 col-lg-2">
            <h5 class="heading paddTop7px">{{ formlyFieldConfigArray.title }}</h5>
        </div>
        <div class="col-md-1 col-xs-1 col-lg-1">
            <button type="button" class="btn btn-link editBtn ">Edit</button>
        </div>
        <div class="col-md-6 col-xs-6 col-lg-6">
        </div>

        <div class="col-md-1 col-xs-1 col-lg-1">
            <button type="button" class="btn btn-link editBtn ">Save Changes</button>
        </div>

        <div class="col-md- col-xs-1 col-lg-1">
            <button type="button" class="btn btn-link editBtn ">Discard Changes</button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6">
            <app-questionnaire [form]="form" [options]="options" [model]="model" [fields]="fields"
            ></app-questionnaire>
        </div>
    </div>

</div>