.ddo-application-request {
    &__footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        border: 1px solid #e8ecf1;
        background: #ffffff;
        color: #ffffff;
        text-align: center;
        max-height: 90px;
    }
    &__button {
        border: 1px solid #002d72;
        color: #002d72;
        &--next {
            background: #002d72;
            color: #ffffff;
        }
    }
    &__tasks {
        background: #fafafa;
    }
}