<div class="ddo-applications container-fluid  mt-2">
  <div class="row">
    <div class="col-sm-12 heading pl-md-5 pr-md-5">
      <h5 class="pt-2 pb-2">My Applications</h5>
    </div>
    <div class="col-sm-12 mt-3 pl-md-5 pr-md-5">
      <form class="ddo-applications__filter" [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
        </formly-form>
      </form>
    </div>
    <div class="col-sm-12 mt-3 pl-md-5 pr-md-5">
      <app-ddo-applications-grid [config]="gridConfig" (actions)="gridActions($event)">
      </app-ddo-applications-grid>
    </div>
    <!-- <div class="col-sm-12 col-md-4 col-lg-3 mt-5 pl-md-5 pr-md-5">
      <contact-detail [config]='contactPersonDetails'></contact-detail>
    </div> -->
  </div>
</div>