.ddo-applications {
    .heading {
        border: 1px solid #e8ecf1;
        background: #ffffff;
    }
    .grid-label {
        font-weight: bold;
        display: inline-block;
    }
    .grid-value {
        font-size: smaller;
        display: block;
    }
    .grid-badge {
        color: #fff;
        background-color: #5e5ea7;
    }
    .status-label {
        display: inline-block;
        font-size: 16px;
        &-icon {
            margin-left: 10px
        }
    }
    .status-icon {
        font-size: 15px;
    }
    .fa-circle-o {
        visibility: hidden;
    }
    .status-value {
        display: block;
        font-size: 12px;
        &-icon {
            margin-left: 24px;
        }
    }
    .consumer-table {
        .table-responsive {
            padding: 12px 10px 0px 10px;
            table {
                thead {
                    border: 2px solid #212529;
                }
                tbody {
                    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
    .contact-icon {
        font-size: 85px;
        color: #aedae8;
    }
    .formly-date-picker {
        visibility: hidden;
    }
}