.ddo-application-request {
    &__page-heading {
        background-color: white;
    }
    &__content {
        padding: 20px 40px !important;
    }
    &__content-subheading {
        color: #898b8d;
        font-size: 0.9rem;
        margin: 0px;
    }
    .card-header {
        background-color: white;
        border-bottom: 0px;
    }
    &__card-heading {
        padding: 1rem 0;
        border-bottom: 1px solid grey;
        margin: 0px;
    }
    &__card-heading-edit-button {
        padding: 0;
        height: 100%;
        text-align: right;
    }
    &__card-heading-description {
        padding: 0;
        height: 100%;
    }
    .card-body {
        padding-bottom: 1.75rem;
    }
}