<div class="ddo-application-request">
  <div class="container-fluid">
    <div class="row ddo-application-request__page-heading">
      <h5 class="col-md-10 pt-3 pb-3 heading">
        {{application.title}}
      </h5>
      <div class="col-md-2 pt-3 pb-3 text-align-center">
        <a href="javascript:void(0)"
          (click)="cancelApplication">
          Cancel Application
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ddo-application-request__content">
        <h4 class="ddo-application-request__content-heading">
          Complete the Set up of your accounts
        </h4>
        <h6 class="ddo-application-request__content-subheading">
          The Citi Private Bank team has created account application for which your assistance in completion is
          required.
        </h6>
        <h6 class="ddo-application-request__content-subheading">
          Please provide information where indicated and review available client data prior to routing to account
          holders for attestation.
        </h6>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="card col-md-12">
          <div class="card-header">
              <div class="row ddo-application-request__card-heading">
                <h4 class="col-md-11 ddo-application-request__card-heading-description">
                  Application Info
                </h4>
                <h6 class="col-md-1 ddo-application-request__card-heading-edit-button">
                  <a href="javascript:void(0)">
                    Edit
                  </a>
                </h6>
              </div>
          </div>
          <div class="card-body">
            <div class="label-value">
              <span class="ddo-application-request__content-subheading">
                Joint Accounts:
              </span>
              <span>
                {{productsDescription}}
              </span>
            </div>
            <div class="label-value">
              <span class="ddo-application-request__content-subheading">
                Account Holders:
              </span>
              <span>
                {{accountHoldersDescription}}
              </span>
            </div>
            <div class="label-value">
              <span class="ddo-application-request__content-subheading">
                Title of the accounts:
              </span>
              <span>
                {{application.title}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>