<div class="row" *ngIf="signAndSubmitTask">
  <div class="col-md-12 markdown">
      <div class="pb10px">
          <h4 class="taskTitle">
            Agree and Submit
            <!--<ngx-md [data]="signAndSubmitTask?.taskName"></ngx-md>-->
          </h4>
        </div>
  </div>
  <div class="col-md-12">
    <div class="card" >
      <div class="card-body">
        <div class="container-fluid">
            <ngx-md [data]="signAndSubmitTask?.description"></ngx-md>
            <app-questionnaire [form]="form" [options]="options" [model]="model" [fields]="fields"></app-questionnaire>          
        </div>
      </div>
    </div>
      </div>
  </div>
