.ddo-applications-grid {
    & .table {
        background: #ffffff;
        white-space: nowrap;
        margin-bottom: 0;
        thead {
            th {
                font-weight: 400;
                color: #898b8d;
                border-bottom: 1px solid #000000;
                &.active {
                    border-bottom: 2px solid #000000;
                    i {
                        color: #000000;
                    }
                }
            }
        }
        &__body {
            .table-row {
                border-bottom: 1px solid #dee2e6;
                .table-col {
                    vertical-align: middle;
                }
            }
            .dropdown-menu {
                position: absolute;
                will-change: transform;
                top: 0px;
                left: 0px;
                -webkit-transform: translate3d(-160px, 0px, 0px) !important;
                transform: translate3d(-160px, 0, 0px) !important;
                .dropdown-item {
                    cursor: pointer;
                }
            }
            .grid-label {
                font-weight: bold;
            }
            .grid-label-container {
                display: block;
            }
            .grid-value {
                font-size: 12px;
                color: #898b8d;
            }
            .btn-group {
                z-index: 1000;
                cursor: pointer;
            }
            .grid-badge {
                margin-left: 10px;
            }
        }
    }
}