<div class="ddo-applications-grid table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let item of config.headings"
            [ngClass]="item.showSortOption ? 'cursor-pointer': 'cursor-default'"
            [class.active] = 'sortByKey === item.key'
            (click)="item.showSortOption && ongridItemClick(actionTypes.sort, item)">
          {{item.value}}
          <a *ngIf='item.showSortOption'>
            <i *ngIf="item.sortOrder === 'desc'" class="fa fa-caret-up float-right" aria-hidden="true"></i>
            <i *ngIf="item.sortOrder === 'asc'" class="fa fa-caret-down float-right" aria-hidden="true"></i>
          </a>
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody class="table__body">
      <tr *ngFor="let item of config.data" class="table-row">
        <td *ngFor="let col of item.columns" class="table-col"
          (click)='ongridItemClick(actionTypes.rowClicked, item.id)'>
          <label-value-group *ngIf='!(col.accountTypes && col.accountTypes.length > 0)'
              [config]='getRowDetails(col)'></label-value-group>
          <div *ngIf='col.accountTypes && col.accountTypes.length > 0'>
              <span *ngFor = 'let type of col.accountTypes'
                class="grid-label--accountType">
                  {{type}}
              </span>
          </div>
        </td>
        <td class="table-col">
          <a class="btn btn-link btn-link--primary pl-0"
            (click)='ongridItemClick(actionTypes.continueNow, item.id)'
            *ngIf='!(item.status === status.cancelled || item.status === status.onHold)'>
            Complete Now
          </a>
        </td>
        <td class="table-col">
            <div class="col-sm-12">
              <div class="btn-group" dropdown>
                <a id="button-config1" dropdownToggle class="kebab-link"
                  [class.disabled]= '(item.status === status.cancelled || item.status === status.onHold)'
                  aria-controls="dropdown-config1">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul id="dropdown-config1"
                  class="dropdown-menu"
                  role="menu"
                  aria-labelledby="button-config1"
                  *dropdownMenu>
                  <li role="menuitem">
                    <a class="dropdown-item"
                      *ngFor='let dropdownItem of config.dropDownOptions'
                      (click)='ongridItemClick(actionTypes.rowClicked, item.id)'>
                      {{dropdownItem.value}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>