<div class="side-nav">
  <accordion [closeOthers]="oneAtATime">
    <accordion-group *ngFor='let item of config'>
      <div accordion-heading class="clearfix">
        <div class="row margin-bottom-0x side-nav__tab">
          <div class="col-sm-1 no-padding-left">
            <i class="fa fa-chevron-right collapsible-icon float-left pull-left"></i>
          </div> 
          <div class="col-sm-9 side-nav__heading">
            <div (click)='item.children.length === 1 ? setSelectedId(item.id, item.type): false'>
              {{item.label}}
            </div>
            <span class="role" *ngIf="item.subHeading">{{item.subHeading}}</span>
          </div>
          <div class="col-sm-2 no-padding-left">
              <i *ngIf = 'item.status'
              [ngClass]="{'status-icon--completed': item.status === 'completed',
                'status-icon--inprogress': item.status === 'pending'}"
                class="fa fa-circle status-icon float-right pull-right"></i>
          </div>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item list-item d-flex justify-content-between align-items-center" *ngFor='let item of item.children' 
        [ngClass]="{'active': item.id === taskId }"
        (click) = 'setSelectedId(item.id, item.type)'>
          <a class='child-link' routerLink="['/workflow/',item.id]"> {{item.label}}</a>
          <i *ngIf= 'item.status'
            [ngClass]="{'status-icon--completed': item.status === 'completed',
              'status-icon--inprogress': item.status === 'pending'}"
              class="fa fa-circle status-icon float-right pull-right"></i>
        </li>
      </ul>
    </accordion-group>
  </accordion>
</div>