.side-nav {
    .status-container{
        background: orange;
        border: solid 1px orange;
        position: relative;
        display: block;
        line-height: 20px;
        height: 22px;
        width: 100px;
        margin-left: 6px;
        .status-text{
            padding-left: 10px;
            color: white;
    }
  }
  .status-container:before{
    content: "";
    display: inline-block;
    position: absolute;
    border: 10px solid orange;
    border-color: transparent transparent transparent orange;
    top: 0px;
  }
  .status-container:after{
    content: "";
    display: inline-block;
    position: absolute;
    border: 9px solid white;
    border-color: transparent transparent transparent white;
    top: 1px;
    left: -1px;
  }
  
    border: 1px solid #eeeeee;
    &__tab {
        // position: absolute;
        // transform: translate(0, -50%);
        // top: 50%;
        // width: 100%;
    }
    .collapsible-icon {
        -webkit-text-stroke: 2px white;
    }
    .status-icon {
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        right: 50%;
        &--inprogress {
            color: orange;
        }
        &--completed {
            color: #1568a9;
            -webkit-text-stroke: 1px white;
        }
    }
    &__heading {
        line-height: 100%;
    }
    .role {
        font-size: 0.7rem;
        color: darkgrey;
    }
    .card {
        border: 0;
    }
    .card-header {
        background-color: white;
        cursor: pointer;
        min-height: 65px;
        max-height: 65px
    }
    .card-body {
        padding: 0;
    }
    .list-item {
        padding-left: 18%;
        cursor: pointer;
        min-height: 65px;
        border: 0;
        background: #fafafa;
        border: 1px solid #e5e5e5;
        &:hover {
            background: #e6f8fe;
            .collapsible-icon {
                -webkit-text-stroke: 1px #e6f8fe;
            }
        }
        &.active {
            padding-left: 17%;
            background: #e6f8fe;
            color: black;
            font-weight: bold;
            border-left: 5px solid #005AA1;
            a {
                font-weight: bold;
            }
            i.status-icon--completed {
                -webkit-text-stroke: 1px #e6f8fe;
            }
        }
        .status-icon {
            position: absolute;
            right: 9%;
        }
    }
}

.child-link {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.panel-open {
    .collapsible-icon {
        transform: rotate(90deg);
    }
    .side-nav__tab {
        // position: absolute;
        // transform: translate(0, -50%);
        // top: 11%;
        // width: 100%;
    }
}