<div class="side-nav">
  <accordion>
    <accordion-group *ngFor='let item of config' [isOpen]="item.id === selectedParentId">
      <div accordion-heading class="clearfix">
        <div class="row mb-0 side-nav__tab pl-3">
          <div class="col-sm-1 no-padding-left">
            <i class="fa fa-chevron-right collapsible-icon float-left pull-left"></i>
          </div> 
          <div class="col-sm-8 side-nav__heading">
            <div (click)='item.children.length === 1 ? setSelectedId(item.id, item.children[0].id, item.type): false'>
              {{item.label}}
            </div>
            <span class="role" *ngIf="item.subHeading">{{item.subHeading}}</span>
          </div>
          <div class="col-sm-3 no-padding-left side-nav__status">
              <i *ngIf = 'item.status === status.completed'
                [ngClass]="{'status-icon--completed fa-check': item.status === status.completed,
                'status-icon--inprogress fa-circle': item.status === status.inProgress}"
                class="fa status-icon float-right pull-right"></i>
                <div 
                  *ngIf = 'item.status === status.inProgress'class="status-container">
                  <span class="status-text">Required</span>
                </div>
          </div>
        </div>
      </div>
      <ul class="list-group" *ngIf = 'item.children.length > 1'>
        <li class="list-group-item list-item d-flex justify-content-between align-items-center" *ngFor='let child of item.children' 
        [ngClass]="{'active': item.id ===selectedParentId && child.id === selectedChildId && item.children.length > 1 }"
        (click) = 'setSelectedId(item.id, child.id, child.type)'>
          <a class='child-link' routerLink="['/workflow/',item.id]"> {{child.label}}</a>
          <i *ngIf= 'child.status === status.completed'
            [ngClass]="{'status-icon--completed fa-check': child.status === status.completed}"
              class="fa status-icon float-right pull-right"></i>
              <div 
                  *ngIf = 'item.status === status.inProgress'class="status-container">
                  <span class="status-text">Required</span>
              </div>
        </li>
      </ul>
    </accordion-group>
  </accordion>
</div>