

      <!-- <ng-select [items]="options$ | async"
      [placeholder]="to.placeholder"  class="form-control"
      [typeahead]="search$"
      [formControl]="formControl">
    </ng-select> -->
    <!-- <p>{{to.label}}</p> -->
     <ng-select [items]="options$ | async"
      class="form-control"
      [typeahead]="search$"
      [formControl]="formControl"
      (clear)="clearSelect($event)"
      (change)="searchChanges($event)"
      (blur)="searchChanges1($event)"
      (focus)="searchChanges1($event)">
    </ng-select>