.tile {
    &_content {
        width: 100%;
        background: white;
        border: 1px solid #dacdcd;
        outline: none;
        padding: 6px;
        text-align: left;
        margin: 0;
        font-size: 14px;
    }
    &_icon-container {
        text-align: center;
        padding: 0px;
        .tile_icon {
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
        }
    }
    &_badge-class {
        border: 1px solid;
        border-radius: 10px;
        text-align: center;
    }
    p {
        margin: 0;
    }
}