// .formly-consumer{
    // .form-group{
    //     width: 25%;
    //     margin: 20px;
    //     display: inline-block;
.formly-consumer {
    .form-group {
        margin-bottom: 10px;
        margin-top: 10px;
        max-width: 50%;
    }
    .custom-checkbox {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.ng-select-dropdown-outer.bottom {
    top: 100%;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-color: #e6e6e6;
    margin-top: 2px;
    border: 1px solid #bbbbbb;
    right: -2px; 
}
.ng-select-dropdown-outer .ng-select-dropdown .ng-option.marked {
    background-color: #ebf5ff;
    color: #333;
}
.ng-select .ng-arrow-zone .ng-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
}

.ng-select.opened>.ng-control .ng-arrow {
    top: -2px;
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.ng-select .ng-arrow-zone .ng-arrow {
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
}