.label-with-badge {
    display: block;
}



.icon-align-middle {
    position: relative;
    top: 10px;
}
.kebab-link i{
	font-size: 1.5rem;
}
.kebab-link i:active, .kebab-link i:hover {
  color: #4285F4;
}
.kebab-dropdown {
  position: absolute;
}

/* Material design for dropdowns */
.dropdown-sm>.dropdown-menu>.dropdown-item {
  padding: 5px;
  margin-left: 0;
}
.dropdown-menu>.dropdown-item {
  padding: 1rem;
  margin-left: 0;
}
.dropdown-menu>.dropdown-item:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  color: white;
  background: #4285F4;
}