<div class="formly-textbox form-group pb-3 pt-3 recurrent">
    <label class="formly-textbox__label" [for]="id">
        {{to.label}}
        <span class="float-right">
            <span *ngIf='!to.required' class="ml-4">(optional)</span>
            <i *ngIf="to.tooltip"
                class="control-label-help fa fa-question-circle-o ml-3"
                containerClass="{{to.tooltip.containerClass}}"
                tooltip="{{to.tooltip.content}}"
                placement="{{to.tooltip.placement}}"></i>
        </span>
    </label>
    <input class="form-control" 
        [type]="type"
        [formControl]="formControl"
        [formlyAttributes]="field"
        [class.is-invalid]="showError">
</div>

<!-- <div *ngIf="field.validation.show" class="invalid-feedback" [style.display]="'block'">
    <span> {{"Error For Test"}}</span>
  </div> -->