<div class="formly-date-picker form-group pb-3 pt-3">
  <label class="formly-date-picker__label" [for]="id">
    {{ to.label }}
    <span *ngIf='!to.required' class="float-right">(optional)</span>
    <i *ngIf="to.tooltip"
      class="control-label-help fa fa-question-circle-o ml-3"
      containerClass="{{to.tooltip.containerClass}}"
      tooltip="{{to.tooltip.content}}"
      placement="{{to.tooltip.placement}}"></i>
  </label>
  <div class="input-group">
    <input [id]="id" class="form-control formly-date-picker__input"
      [formControl]="formControl"
      [placeholder]="to.placeholder"
      [formlyAttributes]="field"
      bsDatepicker #dp="bsDatepicker"
      [minDate]="to.datepickerOptions && to.datepickerOptions.minDate"
      [maxDate]="to.datepickerOptions && to.datepickerOptions.maxDate"
      placement = "{{to.datepickerOptions && to.datepickerOptions.placement ? to.datepickerOptions.placement : 'bottom'}}"
      showWeekNumbers="false"
      [isOpen]='to.datepickerOptions && to.datepickerOptions.show'
      [bsValue]= 'to.datepickerOptions && to.datepickerOptions.initialState'>
    <div class="input-group-append">
      <div class="input-group-text">
        <i class="fa fa-calendar-o" aria-hidden="true" (click)="dp.toggle()"></i>
      </div>
    </div>
  </div>
</div>
