.formly-date-picker {
    &__input {
        border-right: 0;
    }
    .input-group-text {
        background: #ffffff;
        border-left: 0;
    }
}
.bs-datepicker-head {
    text-align: center;
    .previous {
        float: left;
    }
    .next {
        float: right;
    }
}