<div class="container ddo-application-review-information pl-5 pr-4">
  <card>
    <card-header>
      <h4 class="card-header__heading">
        name
      </h4>
      <h6 class="card-header__description">
        description </h6>
    </card-header>
    <card-body>
      <!-- <div *ngIf="formlyFieldConfigArrayCollections?.length > 0">
              <div *ngFor="let formlyFieldConfigArray of formlyFieldConfigArrayCollections; let index = index;">
                  <section [formlyFieldConfigArray]="formlyFieldConfigArray">
                  </section>
              </div>
          </div> -->
    </card-body>
  </card>
</div>