<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-xs-4 col-lg-4">
            <h5 class="heading paddTop6px">{{ formlyFieldConfigArray?.title }}</h5>
        </div>
        <div *ngIf='showEditButton && !editableMode' class="col-md-1 col-xs-1 col-lg-1">
            <button type="button" (click)="editClicked(currSection?.title)" class="btn btn-link editBtn ">Edit</button>
        </div>
        <div class="col-md-3 col-xs-3 col-lg-3">
        </div>

        <div *ngIf='showEditButton && editableMode' lass="col-md-2 col-xs-2 col-lg-2">
            <button type="button" (click)="saveClicked(currSection?.title)" class="btn btn-link editBtn ">Save Changes</button>
        </div>

        <div *ngIf='showEditButton && editableMode' class="col-md-2 col-xs-2 col-lg-2">
            <button type="button" (click)="discardClicked(currSection?.title)" class="btn btn-link editBtn ">Discard Changes</button>
        </div>

        <!-- ///Todo: Uncomment to use id -->
        <!-- <div *ngIf='showEditButton && !editableMode' class="col-md-1 col-xs-1 col-lg-1">
            <button type="button" (click)="editClicked(currSection?.id)" class="btn btn-link editBtn ">Edit</button>
        </div>
        <div class="col-md-3 col-xs-3 col-lg-3">
        </div>

        <div *ngIf='showEditButton && editableMode' lass="col-md-2 col-xs-2 col-lg-2">
            <button type="button" (click)="saveClicked(currSection?.id)" class="btn btn-link editBtn ">Save Changes</button>
        </div>

        <div *ngIf='showEditButton && editableMode' class="col-md-2 col-xs-2 col-lg-2">
            <button type="button" (click)="discardClicked(currSection?.id)" class="btn btn-link editBtn ">Discard Changes</button>
        </div> -->

    </div>
    <div class="row mb-4" *ngIf='showEditButton && editableMode'>
        <div class="col-md-8 col-xs-12 col-lg-8">
            <app-questionnaire [form]="form" [options]="options" [model]="model" [fields]="fields">
            </app-questionnaire>
        </div>
    </div>

    <div class="row mb-4" *ngIf='showEditButton && !editableMode'>
        <div class="col-md-8 col-xs-12 col-lg-8" *ngFor="let question of currSection.questions">
                <div [ngSwitch]="question.type">
                        <div *ngSwitchCase="CustomComponentsEnum.CUSTOM_RADIO_BUTTON">
                          <h6 class="question-label"> {{question?.label}} </h6>
                          <div class="answers" *ngIf="question?.answers && question?.answers.length > 0">
                            {{question?.answers[0]?.value == true ? "Yes" :"No"}}
                          </div>
                        </div>
                        <div *ngSwitchCase="CustomComponentsEnum.CUSTOM_CHECKBOX">
                          <h6 class="question-label"> {{question?.label}} </h6>
                          <div class="answers" *ngIf="question?.answers && question?.answers.length > 0">
                            {{question?.answers[0]?.value == true ? "Yes" :"No"}}
                          </div>
                        </div>
                        <div *ngSwitchDefault >
                          <h6 class="question-label"  > {{question?.label}} </h6>
                          <div class="answers" *ngIf="question?.answers && question?.answers.length > 0">
                            {{question?.answers[0]?.value}}
                          </div>
                        </div>
                      </div>
        </div>
    </div>

</div>