.step {
    text-align: center;
    display: inline-block;
}

.step-circle {
    height: 56px;
    width: 56px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #5d5959;
    background-color: white;
    color: #5d5959;
    .fa {
        font-size: 25px;
    }
    &:hover {
        box-shadow: 0 0 5px 5px #ccc9c9;
        background-color: white;
        cursor: pointer;
    }
    &.step-circle--active {
        color: white;
        background-color: orange;
        border-color: orange;
        &:hover {
            color: orange;
            box-shadow: 0 0 5px 5px #ccc9c9;
            background-color: white;
            cursor: pointer;
        }
    }
    &.step-circle--forbidden {
        color: grey;
        background-color: transparent;
        border-color: transparent;
        &:hover {
            box-shadow: none;
            cursor: default;
        }
    }
}

.step-line {
    display: inline-block;
    @media only screen and (max-width: 768px) {
        width: 80px;
    }
    width: 136px;
    height: 1px;
    margin-bottom: 5px;
}
.solid-black-line {
    border-top: 1px solid black;
}
.solid-grey-line {
    border-top: 1px solid #c2c2c2;
}
.dashed-grey-line {
    border-top: 1px dashed #c2c2c2;
}
.step-name {
    width: 100px;
    display: inline-block;
}