<div class="Addressfield">
    <h4>Documents</h4>
<div *ngFor="let field of field.fieldGroup; let i = index;">
    <p>Address Proof</p>
    <div class="box_wrapper">
        <upload-file></upload-file>
    </div>
    <formly-group
    [model]="model[i]"
      [field]="field"
      [options]="options"
      [form]="formControl">
    </formly-group>
  </div>
  <div style="margin:30px 0;">
      <span class="addmoreaddress">
          <a class="fa fa-plus" (click)="add()"> {{ field.fieldArray.templateOptions.btnText }}</a>
      </span>
    <!-- <button class="btn btn-primary" type="button" (click)="add()">{{ field.fieldArray.templateOptions.btnText }}</button> -->
  </div>
</div>