.box_wrapper{
    border: 1px dashed #ccc;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;   

    h4{
        font-size: 12px;
    }
}
.Addressfield{
    margin-top: 10px;
    p{
        margin: 0px;
        padding: 0px;
    }
    .addmoreaddress{
        color: blue;
        cursor: pointer;
    }
}
