input[type=file] {
    cursor: pointer;
    height: 34px;
    overflow: hidden;
    position: relative;
  }
  
  input[type=file]:before {
    color: white;
    width: 158px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    display: none;
    background: white;
  }
  input[type=file]:after {
    color: deepskyblue;
    content: 'Choose file';
    padding: 0 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    left: 30%;
    z-index: 99999;
    top: 0;
    font-size: 15px;
  }
  input[type=file]:focus {
    outline: none;
  }
  input[type=file]::-webkit-file-upload-button {
    display: none;
  }