.review-information-workflow__card-header {
    background: #fafafa;
    border: 0;
    padding-left: 0;
    padding-top: 20px;
    &__heading {
        font-size: 20px;
    }
    &__description {
        font-size: 12px;
        color: #898b8d;
    }
}
.review-information-workflow__card-body {
    padding: 35px;
}
.pb10px{
    padding-bottom: 10px;
}  
.title {
    font-size: 20px;
}
.description {
    font-size: 12px;
    color: #898b8d;
}