/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import './assets/styles/color.scss';
@import './assets/styles/font.scss';
@import './assets/styles/helper.scss';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
body {
    margin: 0;
    padding-bottom: 90px;
    background: #fafafa;
}

.form-group {
    margin-bottom: 0;
    >label {
        width: 100%
    }
    .form-control {
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
}

label {
    font-size: 12px;
    margin-bottom: 0.3rem;
    color: #898b8d;
}

.control-label-help {
    cursor: pointer;
    color: #0d4061;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    color: #1b1b1b;
}

.bold {
    font-weight: bold;
}

.citi-text-grey {
    color: $citi-light-gray;
}

.margin-bottom-0x {
    margin-bottom: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.margin-top-0x {
    margin-top: 0px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

@for $i from 0 through 6 {
    .space-top-#{$i}x {
        margin-top: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .space-bottom-#{$i}x {
        margin-bottom: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .space-left-#{$i}x {
        margin-left: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .space-right-#{$i}x {
        margin-right: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .padding-right-#{$i}x {
        padding-right: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .padding-left-#{$i}x {
        padding-left: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .border-left-#{$i}x {
        border-left: 1px* $i solid grey !important;
    }
}

.divider {
    border-bottom: 2px solid darkgray;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.btn {
    min-width: 90px;
}

.btn-link {
    &.btn-link--primary {
        color: #007bff !important;
        cursor: pointer;
    }
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}