/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import './assets/styles/color.scss';
@import './assets/styles/font.scss';
@import './assets/styles/helper.scss';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

body {
    margin: 0;
    padding-bottom: 90px;
    background: #fafafa;
    .text-align-center {
        text-align: center;
    }
}

.form-group {
    margin-bottom: 0;
    >label {
        width: 100%
    }
    .form-control {
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
}

label {
    font-size: 12px;
    margin-bottom: 0.3rem;
    color: #898b8d;
}

.control-label-help {
    cursor: pointer;
    color: #0d4061;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    color: #1b1b1b;
}

.bold {
    font-weight: bold;
}

.citi-text-grey {
    color: $citi-light-gray;
}

.margin-bottom-0x {
    margin-bottom: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.margin-top-0x {
    margin-top: 0px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

@for $i from 0 through 6 {
    .space-top-#{$i}x {
        margin-top: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .space-bottom-#{$i}x {
        margin-bottom: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .space-left-#{$i}x {
        margin-left: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .space-right-#{$i}x {
        margin-right: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .padding-right-#{$i}x {
        padding-right: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .padding-left-#{$i}x {
        padding-left: 10px* $i !important;
    }
}

@for $i from 0 through 6 {
    .border-left-#{$i}x {
        border-left: 1px* $i solid grey !important;
    }
}

.divider {
    border-bottom: 2px solid darkgray;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.btn {
    min-width: 90px;
}

.btn-link {
    &.btn-link--primary {
        color: #007bff !important;
        cursor: pointer;
    }
}

/* This is for using pencil globally FA provides tilt icon*/
.fa.fa-pencil {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

/*
    this is for tooltip attached to body on cover page steps
    attached to body hence need it here.
*/
.stepper-step-tooltip {
    margin-top: 10px;
    .tooltip-inner {
        color: black;
        background-color: white;
        box-shadow: 0 0 2px 0px #afa8a8;
        border-radius: 0px;
        & > div {
            margin: 15px;
        }
        div > div {
            &::before {
                content: "-";
                margin-right: 5px;
                color: orange;
            }
            text-align: left;
        }
    }
    .tooltip-arrow.arrow::before {
        border-bottom-color: white;
    }
}