<div class="pb10px">
  <h4 class="taskTitle">
    {{task?.taskName}}
  </h4>
</div>

<div class="card mb20px" *ngFor="let section of task.sections">
  <div class="card-body ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="pt10px title"> {{section?.title}} </div>
        </div>
        <div class="offset-md-5 col-md-1  ">
          <a class="edit" href="javascript:void(0)" *ngIf="task?.showEdit" (click)="editBtnClicked(task.taskId , section.id)">
            Edit
          </a>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 pb15px pt10px">
          <div class="hLine"></div>
        </div>
      </div>

      <div class="multColumn">
        <div *ngFor="let question of section.questions; let index=index;">
          <div class="col-md-12 display-inline-block pb20px">
            <h6 class="question-label"> {{question?.label}} </h6>
            <div *ngIf="question.type != CustomComponentsEnum.CUSTOM_RADIO_BUTTON &&  question.type != CustomComponentsEnum.CUSTOM_CHECKBOX">
              <div class="answers"> {{question?.answers[0]?.value}} </div>
            </div>
            <div class="answers" *ngIf="question.type == CustomComponentsEnum.CUSTOM_RADIO_BUTTON ||  question.type == CustomComponentsEnum.CUSTOM_CHECKBOX">
              {{question?.answers[0]?.value == true ? "Yes" :"No"}}
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>