.ddo-application-tasks {
    .card {
        border: 0;
        .card-header {
            background: #fafafa;
            border: 0;
            padding-left: 0;
            padding-top: 20px;
            &__description {
                color: #67696d;
                font-family: sans-serif;
            }
        }
        .card-body {
            border: 1px solid #dfdfdf;
            padding: 35px;
        }
    }
}