<div class="container ddo-application-tasks pl-5 pr-4">
    <card>
        <card-header>
            <h3>{{currentTask.label}}</h3>
            <h6>{{currentTask.description}}</h6>
        </card-header>
        <card-body>
            <div *ngIf="formlyFieldConfigArrayCollections?.length > 0">
                <div *ngFor="let formlyFieldConfigArray of formlyFieldConfigArrayCollections; let index = index;">
                    <section [formlyFieldConfigArray]="formlyFieldConfigArray">
                    </section>
                </div>
            </div>
        </card-body>
    </card>
</div>