<div class="container ddo-application-tasks pl-5 pr-4">
    <card>
        <card-header>
            <h4 class="card-header__heading">{{currentTask?.workflowName}}</h4>
            <h6 class="card-header__description">{{currentTask?.workflowDescription}}</h6>
        </card-header>
        <card-body>
            <div *ngIf="formlyFieldConfigArrayCollections && formlyFieldConfigArrayCollections?.length > 0">
                <div *ngFor="let formlyFieldConfigArray of formlyFieldConfigArrayCollections; let index = index;">
                    <section [formlyFieldConfigArray]="formlyFieldConfigArray"
                     [showEdit]="currentTask?.showEdit"
                     [editableMode]="currentTask?.sections[index].editableMode"
                     [currSection]="currentTask?.sections[index]"
                     >
                    </section>
                </div>
            </div>
        </card-body>
    </card>
</div>