.footer {
    float: left;
    &__contact-details {
        background: #e6f8fe;
        text-align: center;
        padding: 12px;
    }
    &__contact-icon {
        font-size: smaller;
        height: 20px;
    }
}