<div class="formly-dropdown form-group">
  <label class="formly-dropdown__label" [for]="id">
    {{to.label}}
    <span *ngIf='!to.required' class="ml-4 float-right">(optional)</span>
    <i *ngIf="to.tooltip" class="control-label-help fa fa-question-circle-o ml-3" containerClass="{{to.tooltip.containerClass}}"
      tooltip="{{to.tooltip.content}}" placement="{{to.tooltip.placement}}"></i>
  </label>
  <select class="form-control" [formControl]="formControl" [class.is-invalid]="showError" [formlyAttributes]="field">
    <ng-container *ngFor="let item of to.options">
      <option [value]="item[valueProp]" [disabled]="item.disabled">
        {{ item[labelProp] }}
      </option>
    </ng-container>
  </select>
</div>